body, hl, ul, li{
    margin: 0;
    padding: 0;
}

#monSliderParent{
    height :300px;
    position : relative;
    overflow: hidden;
}

#monSliderContent{
    position : absolute;
    top: 0;
    left : 0;
    width : 400%;
    height : 100%;
    display: flex;
    flex-flow: wrap;
    transition : 1s;
}

#monSliderArrows{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}

.slide{
    width: 25%;
}

#monSliderSlide1{
    background-color: yellow;
}

#monSliderSlide2{
    background-color: green;
}

#monSliderSlide3{
    background-color: red;
}

#monSliderSlide4{
    background-color: blue;
}